body {
    background-color: #F3E5D7;
}

.boite1 {
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 85%;
}

.boite2 {
    background-color: #FFF7FB;
    padding: 12px;
}

img {
    width: auto;
}

.lien {
    color: blue;
    text-decoration: none;
}

td {
    padding: 25px;
}

.piste1 {
    color: #854632;
}

.piste2 {
    color: #854632;
    font-weight: 600;
}

.vegetarian {
    background-color: #B5FFAE;
    width: max-content;
}

.italian {
    background-color: #F0FFAE;
    width: max-content;
}