body {
    background-color: #F3E5D7;
}

.boite1 {
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    width: 90%;
}

.boite2 {
    background-color: #FFF7FB;
    padding: 12px;
    border-radius: 25px;
}

img {
    width: 95%;
    padding: 20px;
    border-radius: 50px;
    height: 555px;
}

.lien {
    color: blue;
    text-decoration: none;
}

td {
    padding: 25px;
}

.piste1 {
    color: #854632;
    font-style: 'Young Serif';
}

.piste2 {
    color: #854632;
    font-weight: 600;
    display: flex;
}

.tag {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 10px;
}

.vegetarian {
  background-color: #B5FFAE;
  color: black;
}

.italian {
  background-color: #F0FFAE;
  color: black;
}

ol {
    list-style-type: none;
    counter-reset: step;
    padding-left: 0;
}

ol li {
    counter-increment: step;
    margin-bottom: 1em;
    position: relative;
    padding-left: 2em;
}

ol li::before {
  content: counter(step) ". ";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #854632; 
}