body {
    background-color: #F3E5D7;
}

div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: max-content;
}
::placeholder {
    color: #E8CEDA;
}

a {
    text-decoration: none;
    
}

.button {
    background-color: #7A284E;
    color: white;
    border-radius: 10px;
    border: 100px;
    padding: 8px;
    margin: 15px;
}