body {
    background-color: #F3E5D7;
}

div {
    background-color: white;
    padding: 50px;
    margin: 30%;
    border-radius: 10px;
    width: max-content;
    
}

input {
    background-color: #FFF7FB;
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: #E8CEDA;
}

a {
    text-decoration: none;
}

.button {
    background-color: #7A284E;
    color: white;
    border-radius: 10px;
    border: 100px;
    padding: 15px;
    margin: 50%;
}